<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Posts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Lista de Posts</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Texto</th>
            <!-- Adicione outras colunas conforme necessário -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td th:text="${post.author.name}"></td>
            <td th:text="${post.text}"></td>
            <!-- Adicione outras colunas conforme necessário -->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
